@page "/lista/veterinarilor"
@using CMVMD.Client.Services.Member
@using CMVMD.Shared.Models
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IMemberService _memberService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Lista Medicilor Veterinari</PageTitle>

<RadzenText style="align-items: center;" class="text-center" TextStyle="TextStyle.H4"><strong>Lista
        Medicilor
        Veterinari</strong></RadzenText>

@if (user?.Identity?.IsAuthenticated ?? false)
{
    <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
    <RadzenButton Click=@(args => NavigateToAddVeterinarianPage()) Text="Adaugă" ButtonStyle="ButtonStyle.Info"
        Icon="add" />
</div>
}

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" Data="@veterinarians"
    LogicalFilterOperator="LogicalFilterOperator.Or" style="height: 70vh;">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.FirstName)" Title="Nume" MinWidth="150px"
            Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.LastName)" Title="Prenume" MinWidth="150px"
            Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.VeterinarianCode)"
            Title="Codul medicului veterinar atribuit de CMV" MinWidth="200px" Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.DiplomaId)" Title="Diploma seria/numărul"
            MinWidth="200px" Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.RegistrationDate)" Title="Data înscrierii în CMV"
            MinWidth="150px" Width="auto">
            <Template>
                @((context as VeterinarianDto).RegistrationDate.ToString("dd.MM.yyyy"))
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.IsActive)" Title="Statutul medicului veterinar în CMV"
            MinWidth="150px" Width="auto">
            <Template Context="data">
                @if (data.IsActive)
                {
                    <div
                        style="padding: 1rem; background: linear-gradient(135deg, #e0f7fa, #b9fbc0); border-radius: 12px; box-shadow: none; max-width: 250px; text-align: center; color: #00796b;">
                        <RadzenText TextStyle="TextStyle.Body1" Style="font-weight: 600;">
                            Activ
                        </RadzenText>
                    </div>
                }
                else
                {
                    <div
                        style="padding: 1rem; background: linear-gradient(135deg, #ffebee, #fbd3c1); border-radius: 12px; box-shadow: none; max-width: 250px; text-align: center; color: #c62828;">
                        <RadzenText TextStyle="TextStyle.Body1" Style="font-weight: 600;">
                            Inactiv
                        </RadzenText>
                    </div>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.HasPenalties)" Title="Sancțiuni" MinWidth="150px"
            Width="auto">
            <Template Context="data">
                @if (data.HasPenalties)
                {
                    <RadzenText TextStyle="TextStyle.Body1" style="text-align: center">
                        Sunt
                    </RadzenText>
                }
                else
                {
                    <RadzenText TextStyle="TextStyle.Body1" style="text-align: center;">
                        Nu Sunt
                    </RadzenText>
                }
            </Template>
        </RadzenDataGridColumn>
        @if (user?.Identity?.IsAuthenticated ?? false)
        {
            <RadzenDataGridColumn Title="Acțiuni" Width="200px" TextAlign="TextAlign.Center">
                <Template Context="data">
                    <RadzenButton Text="Șterge" Icon="delete" style="margin-left: 1rem; margin-right: 1rem;"
                        ButtonStyle="ButtonStyle.Danger" Click="@(args => DeleteVeterinarian(@data.Id))" />
                </Template>
            </RadzenDataGridColumn>
        }
    </Columns>
</RadzenDataGrid>

@code {
    private IEnumerable<VeterinarianDto> veterinarians = Enumerable.Empty<VeterinarianDto>();
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        veterinarians = await _memberService.GetVeterinarians();
    }

    private void NavigateToAddVeterinarianPage()
    {
        Navigation.NavigateTo("/veterinar/adauga");
    }

    private async Task DeleteVeterinarian(Guid guidId)
    {
        string id = guidId.ToString();
        await _memberService.DeleteVeterinarianById(id);
        Navigation.NavigateTo("/");
    }
}
