@page "/lista/veterinarilor"
@using CMVMD.Client.Services.Member
@using CMVMD.Shared.Models
@inject IMemberService _memberService
@inject IJSRuntime JSRuntime

<PageTitle>Lista Medicilor Veterinari</PageTitle>

<RadzenText style="align-items: center; padding-bottom: 1%;" class="text-center" TextStyle="TextStyle.H4"><strong>Lista
        Medicilor
        Veterinari</strong></RadzenText>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true"
    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" Data="@veterinarians"
    LogicalFilterOperator="LogicalFilterOperator.Or" style="height: 75vh;">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.FirstName)" Title="Nume" MinWidth="150px"
            Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.LastName)" Title="Prenume" MinWidth="150px"
            Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.VeterinarianCode)"
            Title="Codul medicului veterinar atribuit de CMV" MinWidth="200px" Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.DiplomaId)" Title="Diploma seria/numărul"
            MinWidth="200px" Width="auto" />
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.RegistrationDate)" Title="Data înscrierii în CMV"
            MinWidth="150px" Width="auto">
            <Template>
                @((context as VeterinarianDto).RegistrationDate.ToString("dd.MM.yyyy"))
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.IsActive)" Title="Statutul medicului veterinar în CMV"
            MinWidth="150px" Width="auto">
            <Template Context="data">
                @if (data.IsActive)
                {
                    <div
                        style="padding: 1rem; background: linear-gradient(135deg, #e0f7fa, #b9fbc0); border-radius: 12px; box-shadow: none; max-width: 250px; text-align: center; color: #00796b;">
                        <RadzenText TextStyle="TextStyle.Body1" Style="font-weight: 600;">
                            Activ
                        </RadzenText>
                    </div>
                }
                else
                {
                    <div
                        style="padding: 1rem; background: linear-gradient(135deg, #ffebee, #fbd3c1); border-radius: 12px; box-shadow: none; max-width: 250px; text-align: center; color: #c62828;">
                        <RadzenText TextStyle="TextStyle.Body1" Style="font-weight: 600;">
                            Inactiv
                        </RadzenText>
                    </div>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(VeterinarianDto.HasPenalties)" Title="Sancțiuni" MinWidth="150px"
            Width="auto">
            <Template Context="data">
                @if (data.HasPenalties)
                {
                    <RadzenText TextStyle="TextStyle.Body1" style="text-align: center">
                        Sunt
                    </RadzenText>
                }
                else
                {
                    <RadzenText TextStyle="TextStyle.Body1" style="text-align: center;">
                        Nu Sunt
                    </RadzenText>
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private IEnumerable<VeterinarianDto> veterinarians = Enumerable.Empty<VeterinarianDto>();

    protected override async Task OnInitializedAsync()
    {
        veterinarians = await _memberService.GetVeterinarians();
    }
}
