@page "/eveniment/{EventId}"
@inject IEventService _eventService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider _authenticationStateProvider

@using CMVMD.Client.Services
@using CMVMD.Client.Services.Article
@using CMVMD.Client.Services.Event
@using CMVMD.Shared.Models
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@if (eventObj != null)
{
    <div class="content-container">
    @if (eventObj.File != null)
        {
            <img src="@eventObj.File.FileUrl" class="article-image" alt="Article Image" />
        }

        <RadzenText TextStyle="TextStyle.H4" FontWeight="700" style="margin-top: 2rem; margin-bottom: 1rem;"
            Color="#333333">
            @eventObj.Title
        </RadzenText>

        <RadzenText TextStyle="TextStyle.H5" FontWeight="400" Color="#6c757d" class="subtitle">
            @eventObj.SubTitle
        </RadzenText>

        <div class="article-text">
            <RadzenText TextStyle="TextStyle.Body1" FontWeight="400" Color="#212529">
                @((MarkupString)eventObj.Text)
            </RadzenText>
        </div>

        <div class="button-container">
            <RadzenButton Text="Înapoi" Icon="arrow_back" ButtonStyle="ButtonStyle.Secondary"
                Click="@(args => Navigation.NavigateTo("/"))" />
            @if (user?.Identity?.IsAuthenticated ?? false)
            {
                <RadzenButton Text="Editează" Icon="edit" ButtonStyle="ButtonStyle.Info"
                    Click="@(args => NavigateToEditPage())" />

                <RadzenButton Text="Șterge" Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(args => DeleteEvent())" />

            }
        </div>
    </div>
}
else
{
    <div class="container">
    <RadzenCard>
        <RadzenText Text="Loading..." />
    </RadzenCard>
</div>
}

@code {
    [Parameter]
    public string EventId { get; set; } = default!;

    private EventDto? eventObj { get; set; }

    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        eventObj = await _eventService.GetByIdAsync(EventId);
    }

    private void NavigateToEditPage()
    {
        Navigation.NavigateTo($"/eveniment/editeaza/{EventId}");
    }

    private async Task DeleteEvent()
    {
        await _eventService.DeleteById(EventId);
        Navigation.NavigateTo("/evenimente");
    }
}
